:root{
  --background-color: #ffe22d;
  --nav-background: #f7f8f9;
  --button-background: #005674;
  --button-color: #f7f8f9;
  --text-headings:  #005674;
  --primary-text-color: #242424;
  --secondary-text-color: #f2f2f2;
  --border-color: #3f3f3d;
  --box-background: #3e688c;
  --active-link-background: #ffe22d;
  --active-link-color: #ffe22d;
  --link-color: #ffe22d;
  --inflow-color: #ffe22d;
  --outflow-color: #ffe22d;
  --parent-width: min(100vw, 1920);
  --card-width: min(100vw, 400px);
}

.App {
  text-align: center;
  background-color: var(--nav-background);
}
